
<ion-content [fullscreen]="true">
 <app-menu></app-menu>
 <ion-row class="ion-justify-content-center">
  <ion-col size="3">
    <img src="https://i.pinimg.com/736x/96/a4/6d/96a46d845af876f648963f99df451e82.jpg" >
  </ion-col>

  <ion-col size="3">
    <img src="https://i.pinimg.com/736x/f5/17/20/f51720363ec302d3666dc53138e1415b.jpg" >
  </ion-col>

  <ion-col size="3">
    <img src="https://i.pinimg.com/736x/b1/9d/98/b19d98bae9674b88189fdb35fb93ea83.jpg" >
  </ion-col>
 
 </ion-row>
</ion-content>
